{% extends 'layout.html' %}

{% block container %}
<div class="pagename">
    <p>{{ data.title }}</p>
</div>
<p>{{ data.comments|safe }}

</p>
<br />
<p><em>Total:
        <a href="{{ data.urls.base}}">{{
            data.counts.base }}</a>.<br />
        In the last two weeks:
        <a href="{{ data.urls.created }}">
            {{ data.counts.created }}</a> created and
        <a href="{{ data.urls.promoted}}">
            {{ data.counts.promoted}}</a> promoted.<br>
        <a href="{{ data.urls.closed}}">
            {{ data.counts.closed }} </a>closed and
        <a href="{{ data.urls.demoted}}">{{
            data.counts.demoted }}</a> demoted.
    </em>
</p>
{% for group in data.assignees| groupby("order") %}
{% for assignee in group.list| sort(attribute="name") %}
<h2>{{ assignee["name"] }}</h2>
<table class='buglist'>
    <thead>
        <tr>
            <th style="width:5%">Bug number</th>
            <th style="width:30%">Summary</th>
            <th style="width:10%">Bug Watcher</th>
            <th style="width:28%">Status comment</th>
            <th style="width:10%">Source</th>
            <th style="width:7%">Status</th>
            <th style="width:7%">No action for</th>
            <th style="width:7%">List</th>
        </tr>
    </thead>
    <tbody>
        {% for bug in assignee.bugs |sort() %}
        <tr>
            <td><a href='https://bugs.mageia.org/show_bug.cgi?id={{ data.bugs[bug]["Bug ID"] }}'>{{ bug }}</a>
            </td>
            <td style="text-align:left;">{{ data.bugs[bug]['Summary'] }}</td>
            <td>{{ data.bugs[bug]["QA Contact Real Name"] }}</td>
            <td style="text-align:left;">{{ data.bugs[bug]["Status comment"] }}</td>
            <td style="text-align:left;">{{ data.bugs[bug]["Source RPM"] }}</td>
            <td>{{ data.bugs[bug]["Status"] }}</td>
            <td>{{ data.bugs[bug]["age"] }} days</td>
            <td><a href={{ "/rpmsforqa/" + data.bugs[bug]["Bug ID"] }}>RPMS</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br />
{% endfor %}
{% endfor %}
{% endblock %}