{% extends 'layout.html' %}
{% block script_column %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .column-list {
        padding: 20px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .column-list li {
        margin-bottom: 10px;
    }
</style>
{% endblock %}
{% block container %}
<div class="pagename">
    <p>{{ data.title }}</p>
</div>
<div id="intro" class="links">
  <h2></h2>
  <p>{{ data.title2}}</p>

<div class="homepage">
{% for maintainer in data.maintainers %}
<p><a href="/check_anitya_rss/{{ maintainer }}">{{ maintainer }}</a></p>
{% endfor %}
</div>
{% endblock %}
  
