{% extends 'layout.html' %}
{% block script_column %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .column-list {
        padding: 20px;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .column-list li {
        margin-bottom: 10px;
    }
</style>

<script>
  window.onload = function() {
      function updateColumns() {
          var columnList = document.querySelector('.column-list');
          var numColumns = Math.floor(window.innerWidth / 150); // Adjust 200 as needed for minimum column width
          columnList.style.columnCount = numColumns;
      }

      // Update columns on page load
      updateColumns();

      // Update columns on window resize
      window.addEventListener('resize', updateColumns);

  };
</script>
{% endblock %}
{% block container %}
<div class="pagename">
    <p>{{ data.title }}</p>
</div>
{% include 'search.html' %}
<div id="intro" class="links">
<p>{{ data.comments|safe }}</p>
  <h2>Welcome to {{ data.config["App name"] }} </h2>
  <p>{{ data.config["App name"] }} is the online applications and packages database from the Mageia linux distribution. Search for a specific package, select a category, or use the left menu.</p>
  <p>There are persistent navigation filters, which you can change at any time from the filter banner : distribution release, show only applications or all packages, media, arch, etc.</p>
</div>

<div class="homepage">
<div id="groups" class="links">
  <h2>Groups</h2>
  <ul class="column-list">
    {% for group in data.groups %}
    <li><a href="/group{{ data.url_end }}&group={{ group }}">{{ group }}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="updates">
  <h2>Latest updates</h2>
  <table class="packlist">
    <tbody>
    {% for update in data.updates %}
      {% if loop.index < 30 %}
        <tr class="{{ 'rpm-odd' if loop.index % 2 else 'rpm-even' }}">
          <td><a href="/show{{ data.url_end }}&rpm={{ update.get_name() }}">{{ update.get_name() }}</a></td>
          <td class='summary'>{{ update.get_summary() }}</td>
          <td><a href="/show{{ data.url_end }}&rpm={{ update.get_name() }}">{{ update.get_nevra() }} </a></td>
          <td>{{ update.get_group() }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <br /><a href="{{ data.updates_link }}">More updates...</a>  
</div>

<div id="backports">
    <h2>Latest backports</h2>
    <table class="packlist">
      <tbody>
      {% for update in data.backports %}
          <tr class="{{ 'rpm-odd' if loop.index % 2 else 'rpm-even' }}">
            <td><a href="/show{{ data.url_end }}&rpm={{ update.get_name() }}">{{ update.get_name() }}</a></td>
            <td class='summary'>{{ update.get_summary() }}</td>
            <td><a href="/show{{ data.url_end }}&rpm={{ update.get_name() }}">{{ update.get_nevra() }} </a></td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    <br /><a href="{{ data.backports_link }}">More backports...</a>  
</div> 
</div>
{% endblock %}
  