<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<script>
    window.onload = function() {
        function updateColumns() {
            var columnList = document.querySelector('.column-list');
            var numColumns = Math.floor(window.innerWidth / 150); // Adjust 200 as needed for minimum column width
            columnList.style.columnCount = numColumns;
        }

        // Update columns on page load
        updateColumns();

        // Update columns on window resize
        window.addEventListener('resize', updateColumns);

    };
</script>
<head>
    <title>{{ data.config["App name"]}}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font/css/font-awesome.min.css') }}">

    {% block script_column %}{% endblock %}

</head>

<body>
    <div id="container">
        <div id="header">
            <div id="header-container">

                {{ data.nav_html|safe }}
                
                <div id="madb-header">
                    <div id="madb-header-container">
                        <div id="appname">
                            <a href="/">{{ data.config["App name"].upper() }}</a><br>
                        </div>
                        <div id="search">
                        </div>
                        <div id="user_infos">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'menu.html' %}

        <div id="content">
            {% block container %}{% endblock %}
            <br />
        </div>


        <div id="footer">
            {% include 'footer.html' %}
        </div>

    </div>
</body>

</html>