<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{{ data.config["App name"]}}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font/css/font-awesome.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% block script_column %}{% endblock %}
    <style>
        .hiddenContent { display: none; }
        .showContent { display: block; }
        .revealIcon { cursor: pointer; margin-left: 5px; font-size: 1.5em; vertical-align: middle; }
    </style>
    <script>
        (function () {
            window.onpageshow = function(event) {
                if (event.persisted) {
                    window.location.reload();
                }
            };
        })();
    </script>
</head>

<body>
    <div id="nav">
    {{ data.nav_html|safe }}
    </div>
    <div id="container">
        <div id="header">
            <div id="header-container">
                <div id="madb-header">
                    <div id="madb-header-container">
                        <div id="appname">
                            <a href="/">{{ data.config["App name"].upper() }}</a><br>
                        </div>
                        <div id="search">
                        </div>
                        <div id="user_infos">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'menu.html' %}

        <div id="content">
            {% block container %}{% endblock %}
            <br />
        </div>

    </div>
    <div id="footer">
        {% include 'footer.html' %}
    </div>
</body>

</html>