<div id="menu">
    <ul>
        <li>
            <h2><i class="icon-bell"></i> Latest</h2>
            <ul>
                <li class="leaf "><a href="/list?type=updates">Updates</a></li>
                <li class="leaf "><a href="/list?type=updates_testing">Update candidates</a></li>
                <li class="leaf "><a href="/list?type=backports">Backports</a></li>
                <li class="leaf "><a href="/list?type=backports_testing">Backport candidates</a></li>
            </ul>
        </li>
        <li>
            <h2><i class="icon-tasks"></i> Browse</h2>
            <ul>
                <li class="leaf "><a href="/group">Groups</a></li>
                <li class="leaf "><a href="/graph">Graph</a></li>
            </ul>
        <!--
            <ul>
                <li class="leaf "><a href="/package/list">Packages/Applications</a></li>
            </ul>
    -->
        </li>
        <li>
            <h2><i class="icon-puzzle-piece"></i> Tools</h2>
            <ul>
                <li class="leaf "><a href="{{ url_for('comparison') }}">Versions comparison</a></li>
                <li class="leaf "><a href="{{ url_for('updates') }}">QA Updates</a></li>
                <li class="leaf "><a href="{{ url_for('blockers') }}">Release blockers for Mga {{ data.config.Next
                        }}</a></li>
                <li class="leaf "><a href="{{ url_for('milestone') }}">Intended for Mga {{ data.config.Next }}</a></li>
                <li class="leaf "><a href="{{ url_for('highpriority') }}">High priority for Mga {{ data.config.Next
                        }}</a></li>
                <li class="leaf "><a href="{{ url_for('mageiatools') }}">Bugs for Mageia tools</a></li>
                <li class="leaf "><a href="{{ url_for('comparison_anitya') }}">Upstream vers. comparison</a></li>
            </ul>
        </li>
    </ul>
</div>
