{% extends 'layout.html' %}

{% block container %}

{% include 'search.html' %}
<script>


document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll('.revealIcon').forEach((icon) => {
    icon.addEventListener('click', () => {
      const parentTd = icon.parentElement;
      const contentUl = parentTd.querySelector('.hiddenContent');
      
      if (contentUl.classList.contains('showContent')) {
        contentUl.classList.remove('showContent');
      } else {
        contentUl.classList.add('showContent');
      }
    });
  });
});
</script>
<div class="pagename">
<p>Package : <a href="">{{ data.basic.Name }}</a></p>
</div>
<div class="rpm">
  <div>
  
{# Place for bugs link #}
<h2>Basic items</h2>

<table class="infos">
  <tbody>
    {% for key, value in data.basic.items() %}
    <tr>
      <td class="name">{{ key }}</td>
      <td>{% if key == "Url" %}<a href="{{ value }}">{{ value }}</a>
         {% else %}
         {{ value }}
         {% endif %}
     </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul>
</ul>

<h2>Description</h2>
<div class="rpm-description">
  {{ data.description|safe }}
</div>

<h2>Media information</h2>
<table class="infos">
  <tbody>
    {% for item in data.media %}
    <tr>
      <td class="name">{{ item[0] }}</td>
      <td>{{ item[1] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>



<h2>Advanced items</h2>
<table class="infos">
  <tbody>
    {% for item in data.advanced %}
    <tr>
        {% if item[0] in ("Files", "Dependencies", "Changelog", "Provides")%}        
          <td class="name revealIcon">{{ item[0] }} &#9776;</td>
          <td class="longList"><ul class="hiddenContent">{{ item[1] |safe }}</ul>
        {% else %}      
        <td class="name">{{ item[0] }}</td>
        <td class="longList">
        {{ item[1] |safe }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<br>
</div>
{% endblock %}