{% for release in data.releases %}Release {{ release }}
{% for src_arch in data[release].keys() %}
{% if loop.index == 1 %}
Source RPMS
-----------
    {% for rpm in data[release][src_arch]["srpms"] %}{{ rpm.get_name() + "-" +rpm.get_evr() }}
    {% endfor %}
    {% endif %}
Binaries RPMS in {{ src_arch }} 
---------------------------
    {% for repo in data[release][src_arch]["binaries"].keys() %}
Repository: {{ repo }}
---------------------------------------
    {% for rpm in data[release][src_arch]["binaries"][repo] %}{{ rpm }}
    {% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}