<script>

    document.addEventListener("DOMContentLoaded", function () {
        const searchfieldSelectElement = document.getElementsByClassName("searchfield");
        for (field of searchfieldSelectElement) { field.addEventListener("change", function (event) {
            // Get actual fields and values
            const arch_field = document.getElementById("architecture");
            const arch = arch_field.value;
            const dist_field = document.getElementById("distribution");
            const dist = dist_field.value;
            const graphical_field = document.getElementById("graphical");
            const graphical = graphical_field.checked ? "1" : "0";
            const pkg_field = document.getElementById("package_name");
            const pkg = pkg_field.value;
    
            // Construit l'URL cible en combinant l'action du formulaire et la valeur sélectionnée
            targetUrl = `${arch_field.getAttribute("data-base-url")}?distribution=${dist}&architecture=${arch}&graphical=${graphical}`;
            targetUrl = targetUrl + ( pkg !== "" ? `&rpm=${pkg}` : "")

            // Reload the page with the new query string
            window.location.href = targetUrl;
        });
    };
    });
    
    function onsearchfieldChange(event) {
        this.dispatchEvent(new Event("submit"));
    }
</script>


<form id="search-form" action="/show" method="get" >
    <label for="architecture">Distribution: </label>

    <select id="distribution" name="distribution" class="searchfield">
        {% for key, value in data.config.distribution.items() %}
        <option value="{{ key }}" {% if '='+key+'&' in data.url_end %}  selected="selected" {% endif %}>{{ value }}</option>
        {% endfor %}
    </select>

    <label for="architecture">Architecture: </label>

    <select id="architecture" name="architecture" class="searchfield" data-base-url="{{ data.base_url }}">
        {% for key, value in data.config.arches.items() %}
        <option value="{{ key }}" {% if '='+key+'&' in data.url_end %}  selected="selected" {% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
    <label>Graphical applications only</label>
        <input type="checkbox" id="graphical" value="1" {% if 'graphical=1' in data.url_end %} checked{% endif %} class="searchfield">

    <label for="package_name">Package: </label>

    <input type="text" id="package_name" name="rpm" value="{{ data.rpm_search }}">

    <button type="submit">Search</button>
</form>
<br />