[Unit]
Description=Load DNF metadata for MADB

[Service]
User=madb
Group=madb
WorkingDirectory=/var/lib/madb
ExecStart=/usr/bin/python3 /var/lib/madb/makecache.py

